/* src/components/Header/Header.module.css */

.headerContainer {
  background-color: var(--primary-purple);
  color: var(--text-white);
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  display: flex;
  align-items: center;
  gap: 2px;
}

.logoImage {
  height: 30px;
  width: auto;
}

.logo h1 {
  font-size: 25px;
  /* Adjust font size as needed, matches the mockup */
  margin: 0;
  /* Remove default margin from h1 */
  color: var(--text-white);
  /* Ensure logo text color is white */
  font-weight: bold;
}

.navigation a,
.authLinks a {
  color: var(--text-white);
  text-decoration: none;
  font-weight: medium;
  margin-left: 25px;
  /* Space between navigation links */
  transition: color 0.2s ease-in-out;
}

.navigation a:hover,
.authLinks a:hover {
  color: var(--light-gray);
  /* Lighter color on hover */
}