.signUpPageContainer {
  /* Positions the sign up box in the center of the screen */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 80px);
  padding: 20px;
  background-color: var(--light-gray);
}

.logoSection {
  margin-bottom: 15px;
  text-align: center;
}

.logo {
  height: 80px;
  width: auto;
  margin-bottom: 15px;
}

.signUpBox {
  background-color: var(--text-white);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 0 1px var(--primary-purple), 0 0 0 6px rgba(138, 43, 226, 0.2);
  width: 350px;
  height: 500px;
  max-width: 400px;
  text-align: center;
}

.title {
  font-size: 30px;
  font-weight: bold;
  color: var(--text-dark);
  margin-top: -5px;
  margin-bottom: 30px;
}

.signUpForm {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 20px;
}

.inputGroup {
  text-align: left;
  position: relative;
}

.label {
  display: block;
  /* Make label take full width */
  font-size: 14px;
  color: var(--text-dark);
  margin-bottom: 8px;
  font-weight: normal;
}

.inputField {
  width: calc(100% - 20px);
  padding: 12px 10px;
  border: 1px solid var(--medium-gray);
  border-radius: 8px;
  font-size: 16px;
  color: var(--text-dark);
}

.inputField:focus {
  outline: none;
  border-color: var(--primary-purple);
  box-shadow: 0 0 0 3px rgba(138, 43, 226, 0.2);
}

.signUpButton {
  background-color: var(--primary-purple);
  color: var(--text-white);
  padding: 12px 10px;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  font-weight: normal;
  cursor: pointer;
  /* Indicate it's clickable */
  transition: background-color 0.3s ease;
  width: 35%;
  margin-top: 20px;
  /* Space above button */
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.signUpButton:hover {
  background-color: #6A1FB8;
  /* Slightly darker purple on hover */
}

.loginText {
  font-size: 15px;
  color: var(--text-dark);
  margin-top: 20px;
}

.loginLink {
  color: var(--primary-purple);
  /* Purple for login link */
  font-weight: bold;
  text-decoration: none;
}

.loginLink:hover {
  text-decoration: underline;
  /* Underline on hover */
}